@inject NavigationManager navigationManager
<EditForm Model="@oLibroFromCLS" OnValidSubmit="@guardar">
    <DataAnnotationsValidator />
    <div class="mt-3">
        <label>Id Libro</label>
        <InputNumber class="form-control" @bind-Value="oLibroFromCLS.idLibro" />
        <ValidationMessage For="(() => oLibroFromCLS.idLibro)" />
    </div>
    <div class="mt-3">
        <label>Titulo</label>
        <InputText class="form-control" @bind-Value="oLibroFromCLS.titulo" />
        <ValidationMessage For="(() => oLibroFromCLS.titulo)" />
    </div>
    <div class="mt-3">
        <label>Resumen</label>
        <InputTextArea class="form-control" @bind-Value="oLibroFromCLS.resumen" />
        <ValidationMessage For="(() => oLibroFromCLS.resumen)" />
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-success">Guardar</button>
        <button class="btn btn-danger" @onclick="@regresar">Regresar</button>
    </div>
</EditForm>

@code {
    public LibroFormCLS oLibroFromCLS { get; set; } = new LibroFormCLS();

    private void guardar()
    {
        Console.WriteLine("Guardando libro...");
    }
    private void regresar()
    {
        navigationManager.NavigateTo("libro");
    }
}